@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-slate-850: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-white antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}